<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>エラー画面</title>
    <link rel="stylesheet" th:href="@{/css/bulma.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"
    />
</head>

<body>
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    エラー画面
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <article class="message is-danger" th:if="${!errors.allMessages.isEmpty()}">
                <div class="message-body">
                    <ul>
                        <li th:each="message : ${errors.allMessages}" th:text="${message}"></li>
                    </ul>
                </div>
            </article>
            <div class="field">
                <p>
                    処理を正常に終了することができませんでした。
                    <br/> お手数ですが、入力内容をご確認の上、少し間をおいてから、もう一度手順をやりなおして下さい。
                    <br/> 状況が変わらない場合は、お手数ですが、このシステムの管理者にご連絡ください。
                </p>
            </div>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary" th:href="@{/}">トップページへ戻る</a>
                </p>
            </div>
        </div>
    </section>
    <style>
    </style>
</body>

</html>